* {
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	color: #ffffff;
	font-size: 1.3em;
}

/* Styling for Nav Bar - flexbox and fixed positioning*/
nav div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

span {
	color: #000000;
	font-family: 'Rubik Mono One', sans-serif;
	transition: all 1s ease;
}

/* Add style change when hovering over name*/
span:hover {
	color: #C2683D;
}

/*Fix nav bar to top position on screen*/
nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
}

/*Grouping multiple matching commands together*/
nav a, span:hover {
	font-size: 1.5em;
}

nav a {
	margin: 30px;
	text-decoration: none;
	background-color: #3d97c2;
	padding: 10px;
	border-radius: 8px;
	transition: padding 1s ease;
}

/* All Headers caps and bold */
nav a, h1, footer span {
	text-transform: uppercase;
}

/* Change link background cover when hovered over*/
.aboutMeLink:hover, .portfolioLink:hover, .contactLink:hover {
	padding: 2%;
}

.aboutMeLink:hover {
	background-color: #c37fd2;
}

.contactLink:hover, footer {
	background-color: #55C23D;
}
/* About Me section - flower pic sizing*/
header img {
	height: 30%;
	width: 30%;
	border-radius: 50%;
}

header h1 {
	padding-top: 20%;
}

header div, header img {
	display: block;
	margin: 5% auto;
}

header p, footer p, main p {
	margin: 5% 10%;
}

/* Centering all text content*/
header div, summary, footer, header p, .gallery {
	align-content: center;
	text-align: center;
	
}

/* Styling About Me block - making larger to cover screen space*/
header {
	background-color: #c37fd2;
	padding-top: 10%;
}
/* Creating grid for portfolio images to sit inside*/
.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

main, summary, header {
	padding-bottom: 10%;
}

main img {
	width: 100%;
	height: 100%;
	border-radius: 10%;
	padding: 5px 5px;
}

/* Styling Portfolio section and tidying similar commands together*/
summary, main, .portfolioLink:hover {
	background-color: #C2683D;
}

footer {
	padding-bottom: 20%;
}
/* Aligning and styling links and contact section*/
.linksGallery {
	display: flex;
}

/*Adding icon image styling and hover action*/
footer img {
	width: 50%;
	transition: width 1s ease;
}

footer img:hover {
	width: 60%;
}

summary, footer, .linksGallery img {
	padding-top: 20%;
}


/* Make portfolio links transition on hover*/

.project1 img:hover, .project6 img:hover {
	border: 8px solid #3d97c2;

}

.project2 img:hover, .project4 img:hover  {
	border: 8px solid #c37fd2;

}

.project3 img:hover, .project5 img:hover {
	border: 8px solid #55C23D;

}

main img:hover {
	opacity: 0.5;
}

/*Make responsive */

@media screen and (max-width: 1300px) {
		
	span, nav a {
		font-size: 1em;
		padding: 5px;
	}
}

@media screen and (max-width: 1000px) {
	nav a {
		margin:2%;
	}
	.aboutMeLink:hover, .portfolioLink:hover, .contactLink:hover {
		padding: 1%;
	}
	
	span:hover {
		font-size: 1.5em;	
	}
	
}

@media screen and (max-width: 800px) {	
	nav a, span {
		margin-top: 2px;
	}
	span:hover {
		font-size: 1em;	
	}
	nav div {
		flex-direction: column;
	}
	summary, footer, .linksGallery img {
			padding-top: 35%;
		}
	header img {
		display: none;
	}
	
	header div {
		padding-top: 10%;
		
	}
	.aboutMeImage {
		background-image:url("aboutme.jpg");
		padding-top: 50%;
	}

}

@media screen and (max-width: 700px) {
	nav a, span {
		font-size: 0.7em;
	}
	
	.aboutMeLink:hover, .portfolioLink:hover, .contactLink:hover {
		padding: 2%;
	}

}


/* color scheme:
blue: #3d97c2
pink: #c37fd2
orange: #C2683D
green: #55C23D
*/