* {
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	color: #ffffff;
}

/* Styling for Nav Bar - flexbox and fixed positioning*/
nav div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav {
	position: fixed;
	top: 0;
	float: right;
	background-color: #ffffff;
	width: 100%;
}

nav a {
	margin: 30px;
	text-decoration: none;
	font-size: 150%;
	background-color: #3d97c2;
	padding: 10px;
	border-radius: 8px;
	transition: padding 1s ease;
	
}

/* All Headers caps and bold */
nav a, h1, footer{
	text-transform: uppercase;
	font-weight: bold;
}

/* Change link background cover when hovered over*/
.aboutMeLink:hover {
	padding: 30px;
	background-color: #c37fd2;
}

.portfolioLink:hover {
	padding: 30px;
	background-color: #C2683D;
}

.contactLink:hover {
	padding: 30px;
	background-color: #55C23D;
}
/* About Me section*/
header img {
	height: 25%;
	width: 25%;
	border-radius: 50%;
	margin-top: 100px;
}

header h1 {
	padding-top: 20%;
}

header div, header img {
	display: block;
	margin: 5% auto;
	width: 100;
}

/* Centering all text content*/
header div, summary, footer {
	align-content: center;
	text-align: center;
	
}

/* Styling About Me block - making larger to cover screen space*/
header {
	background-color: #c37fd2;
	padding-top: 10%;
	padding-bottom: 10%;
}
/* Creating grid for portfolio images to sit inside*/
.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-content: center;
}

main img {
	width: 100%;
	align-items: center;
	height: 100%;
	border-radius: 10%;
	padding: 5px 5px;
	
}
/* Styling Portfolio section*/
summary, main {
	background-color: #C2683D;
}

summary, footer {
	padding-top: 20%;
	padding-bottom: 100px;
}

footer {
	background-color: #55C23D;
	
}
/* Aligning and styling links and contact section*/
.linksGallery {
	display: flex;
	flex-shrink: 3;
}

.linksGallery img {
	width: 40%;
	padding-top: 20%;
}

.iconDisclaimer {
	margin: 5%;
	background-color: #3d97c2;
	width: 100%;
	margin: 0;
	text-align: center;
}

/* Make portfolio links transition on hover*/

.project1 img:hover {
	border: 8px solid #3d97c2;
}

.project2 img:hover {
	border: 8px solid #c37fd2;
}

.project3 img:hover {
	border: 8px solid #55C23D;
}

.project4 img:hover {
	border: 8px solid #c37fd2;
}

.project5 img:hover {
	border: 8px solid #55C23D;
}

.project6 img:hover {
	border: 8px solid #3d97c2;
}

/*Make responsive */
@media screen and (max-width: 800px) {
	nav a {
		font-size: 110%;

	}
	nav div {
		height: 60px;
		justify-content: space-around;
	}
}

/* color scheme:

blue: #3d97c2
pink: #c37fd2
orange: #C2683D
green: #55C23D

*/