* {
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	color: #ffffff;
}

nav div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav {
	position: fixed;
	top: 0;
	float: right;
	background-color: #ffffff;
	width: 100%;
}

nav a, h1, footer{
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	margin: 30px;
	text-decoration: none;
	font-size: 150%;
	background-color: #3d97c2;
	padding: 10px;
	border-radius: 8px;
	transition: padding 1s ease;
	
}

.aboutMeLink:hover {
	padding: 30px;
	background-color: #AA3DC2;
}

.portfolioLink:hover {
	padding: 30px;
	background-color: #C2683D;
}

.contactLink:hover {
	padding: 30px;
	background-color: #55C23D;
}

header img {
	height: 25%;
	width: 25%;
	border-radius: 50%;
	margin-top: 100px;
}

header h1 {
	padding-top: 20%;
}

header div, header img {
	display: block;
	margin: 5% auto;
	width: 100;
}

header div, summary, footer {
	align-content: center;
	text-align: center;
	
}

header {
	background-color: rgba(170, 61, 194, 0.5);
	padding-top: 10%;
	padding-bottom: 10%;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-content: center;
}

main img {
	width: 100%;
	align-items: center;
	height: 100%;
	border-radius: 10%;
	padding: 5px 5px;
	
}

summary, main {
	background-color: #C2683D;
}

summary, footer {
	padding-top: 20%;
	padding-bottom: 100px;
}

footer {
	background-color: #55C23D;
	
}

.linksGallery {
	display: flex;
	flex-shrink: 3;
}

.linksGallery img {
	width: 40%;
	padding-top: 20%;
}

.iconDisclaimer {
	margin: 5%;
	background-color: #3d97c2;
	width: 100%;
	margin: 0;
	text-align: center;
}

/* color scheme:

blue: #3d97c2
purple: #AA3DC2
orange: #C2683D
green: #55C23D

*/